<h1>Projects</h1><hr/>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">Description</th>
      <th colspan="4" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each_with_index do |project, index| %>
      <tr>
        <td scope="col"><%= index + 1 %></td>
        <td scope="col"><%= project.name %></td>
        <td scope="col"><%= project.description %></td>
          <% if can? :update, @project %>
            <td scope="col" ><%= link_to 'Edit', edit_project_path(project) %></td>
          <% end %>
          <% if can? :destroy, @project %>
          <td scope="col" ><%= link_to 'Destroy', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <td scope="col"><%= link_to 'Manage Project', project_path(project), class: "btn btn-primary btn-sm" %></td>
          <td scope="col" ><%= link_to 'Manage Todo', project_todos_path(project), class: "btn btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :update, @project %>
  <%= link_to 'New Project', new_project_path, class: "btn btn-primary" %><br/>
<% end %>
