<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-5"><%= @project.name %></h3>
    <p class="lead"><u>Description:</u> <%= @project.description %></p>
    <p class="lead"><u>Start Date:</u><%= @project.start_date %></p>
    <p class="lead"><u>End Date:</u><%= @project.end_date %></p>
    <% if can? :update, @project %>
      <%= link_to 'Edit Project', edit_project_path(@project), class: "btn btn-secondary btn-sm" %>
    <% end %>
    <% if can? :destroy, @project %>
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal" onClick="setProjectEmployee(<%= @project.id%>);">Assign Project</button>
      <%= link_to 'Manage Todo', project_todos_path(@project), class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div><hr/>

<% if can? :update, @project %>
<h4>List of assigned employees for "<%= @project.name %>"</h4>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Employee Name</th>
      <th scope="col">Email</th>
      <th scope="col">Assigned By</th>
      <th colspan="4" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @assigned_employees.each_with_index do |emp, index| %>
      <tr>
        <td scope="col"><%= index + 1 %></td>
        <td scope="col"><%= emp.displayname %></td>
        <td scope="col"><%= emp.email %></td>
        <td scope="col"><%= get_assignee(emp, @project)%></td>
        <td scope="col"></td>
      </tr>
    <% end %>
  </tbody>
</table><hr/>
<%= link_to 'Back', projects_path %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Assign Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
        <%= form_tag({controller: "dashboard", action: "assign_project"}, remote: true, class: "form_control") do %>
          <div class="modal-body" id="modal-main">
          <%= hidden_field_tag "project_id" %>
          <div class="form_control">
            <%= label_tag "Please select employee to assign project" %>
            <%= select_tag "employee_id", options_from_collection_for_select(@employees, "id", "displayname"), class: "form-control"
 %>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= submit_tag "Save Changes", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>