<h1>To do list</h1><hr/>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Name</th>
      <th scope="col">Status</th>
      <th scope="col">Assigned To</th>
      <th colspan="4" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each_with_index do |todo, index| %>
      <tr>
        <td scope="col"><%= index + 1 %></td>
        <td scope="col"><%= todo.name %></td>
        <td scope="col"><%= todo.status.present? ? todo.status : "Pending" %></td>
        <td scope="col"><%= todo.employee.present? ? todo.employee.try(:first_name).capitalize : "Not Assigned" %></td>
        <td scope="col"><%= link_to 'Show', project_todo_path(@project, todo) %></td>
        <% if can? :update, @todo %>
        <td scope="col" ><%= link_to 'Edit', edit_project_todo_path(@project, todo) %></td>
        <% end %>
        <% if can? :destroy, @todo %>
        <td scope="col" ><%= link_to 'Destroy', project_todo_path(@project, todo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td scope="col" ><% unless todo.employee.present? %><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" onClick="setProjectTodo(<%= todo.id%>);">Assign Todo's</button><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, @todo %>
  <%= link_to 'Add New Todo', new_project_todo_path(@project), class: "btn btn-primary" %><br/>
<% end %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Assign Todo's</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
        <%= form_tag({controller: "dashboard", action: "assign_todo"}, remote: true, class: "form_control") do %>
          <div class="modal-body" id="modal-main">
          <%= hidden_field_tag "todo_id" %>
          <%= select_tag "employee_id", options_from_collection_for_select(@employees, "id", "first_name"), class: "form-control"
 %>
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= submit_tag "Save Changes", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>